/* Reset default margin and padding */
body, h1, form, input, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    color: #333;
    line-height: 1.6;
}

.card {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="url"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1376ba;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #2660ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0f47ff;
}

#shortened-url {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#shortened-url p {
    flex: 1;
    margin: 0;
}

#output-url {
    flex: 4;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#copy-button {
    flex: 0;
    padding: 6px;
    font-size: 14px;
    background-color: transparent; /* Updated background color */
    color: #1376ba; /* Updated text color */
    border: none;
    cursor: pointer;
}

#copy-button:hover {
    color: #0f608f; /* Updated text color on hover */
}
