<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <title>URL Shortener</title>
</head>
<body>
<div>
    <form action="" method="POST">
        <label for="input">Enter your URL below:</label>
        <input type="text" id="input" name="url" value={{.Original}}>
        <button type="submit">Submit</button>
    </form>
</div>
<div><p></p>
    {{if .Shortened}}
    <label for="shortened">Your shortened url is:</label>
    <input type="text" id="shortened" name="country" value={{.Shortened}} readonly>
    {{else if .Error}}
    <p>Invalid URL.</p>
    {{end}}
</div>
</body>
</html>
